$primary-color: #3498db;
$secondary-color: #2ecc71;
$dark-green: #216441;
$text-color: #333;
$font-stack: 'Segoe UI', sans-serif;

$white: #ffffff;

$primary-bg: #40916C;
$secondary-bg: #D8F3DC;

$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;
